prometheus:
  enabled: true
  prometheusSpec:
    externalUrl: /prometheus
    routePrefix: /prometheus

grafana:
  enabled: true
  grafana.ini:
    server:
      root_url: "%(protocol)s://%(domain)s/grafana"
      serve_from_sub_path: true