apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins-deployment
  labels:
    app: jenkins
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jenkins
  template:
    metadata:
      labels:
        app: jenkins
    spec:
      containers:
      - name: jenkins
        image: jenkins/jenkins:jdk21
        # readinessProbe:
        #   httpGet:
        #     path: /
        #     port: 80
        #   initialDelaySeconds: 25
        #   periodSeconds: 20
        #   timeoutSeconds: 15
        #   successThreshold: 1
        #   failureThreshold: 3
        # livenessProbe:
        #   httpGet:
        #     path: /
        #     port: 80
        #   initialDelaySeconds: 20
        #   periodSeconds: 18
        #   timeoutSeconds: 15
        #   successThreshold: 1
        #   failureThreshold: 3
        ports:
        - name: http
          containerPort: 80
        # resources:
        #   limits:
        #     memory: "250Mi"        # Maximum memory the container can use
        #     cpu: "150m"